// shared
$gray: #999999;
$orange: #FF7E2D;
$black: #000000;
$blue: #3369F3;
$red: #FF0000;
$devider: #EAEAEA;

// chat
$grayChatMessage: #F8F8F8;
$blueChatMessage: #E4EDFD;
$circleChat: $blue;
$firstName: #1E1E1E;
$sideBar: #FBFBFB;

